.horizontal.card {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    min-width: 288px;
    max-width: min(90%, 800px);
    margin: 0 auto;
    padding: .75rem;
}

@media screen and (min-width: 751px) {
    .caption {
        margin-right: 1rem;
    }
}


.horizontal.card img {
    margin-bottom: 1rem;
    object-fit: contain;
    border-radius: 50%;
    max-width: min(90%, 300px);
    max-height: 300px;
}

.horizontal.card .card-body {
    min-width: 266px;
    width: 0;
    display: inline-block;
    padding: 0;
    height: 100%;
    text-align: center;
}

.horizontal.card .card-text {
    text-align: left !important;
    text-indent: 2rem;

}

.textTableRow {
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-align: left;
}

.textTableRow span {
    width: 180px;
}

.textTableRow .infoTitle{
    margin-right: .75rem;
    color: #1fc7ff;
    font-weight: bold;
    width: 90px;
}